<a href="https://colab.research.google.com/github/N2000-hack/Machine-Learning-LAB/blob/main/Exp_6_Conditional_Unconditional_Probability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data={
'income' : ['medium','high','low','medium','high','low','medium','medium','high','low'],
'recreation' : ['skiling','golf','speedway','football','flying','football','golf','golf','skiling','golf'],
'job' : ['design','trading','transport','banking','media','security','media','transport','banking','unemployed'],
'status' : ['single','married','married','single','married','single','single','married','single','married'],
'age_group' : ['twenties','forties','thirties','thirties','fifties','twentites','thirties','forties','thirties','forties'],
'home_owner' : ['no','yes','yes','yes','yes','no','yes','yes','yes','yes'],
 'label' : ['highRisk','lowRisk','medRisk','lowRisk','highRisk','medRisk','medRisk','lowRisk','highRisk','highRisk']   
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   income recreation         job   status  age_group home_owner     label
0  medium    skiling      design   single   twenties         no  highRisk
1    high       golf     trading  married    forties        yes   lowRisk
2     low   speedway   transport  married   thirties        yes   medRisk
3  medium   football     banking   single   thirties        yes   lowRisk
4    high     flying       media  married    fifties        yes  highRisk
5     low   football    security   single  twentites         no   medRisk
6  medium       golf       media   single   thirties        yes   medRisk
7  medium       golf   transport  married    forties        yes   lowRisk
8    high    skiling     banking   single   thirties        yes  highRisk
9     low       golf  unemployed  married    forties        yes  highRisk

In [5]:
prob1=data['recreation'].count('golf')
prob1

4

In [6]:
prob2=len(data['recreation'])
prob2

10

In [7]:
#unconditional probability on golf
unconditional_golf=prob1/prob2
unconditional_golf

0.4

In [8]:
prob_risk=data['label'].count('medRisk')
prob_risk

3

In [9]:
c=0
for i in range(10):
  if data['status'][i]=='single' and data['label'][i]=='medRisk':
    c+=1
c

2

In [10]:
#conditional probability of single given medRisk in the dataset
conditional_prob=c/prob_risk
conditional_prob

0.6666666666666666